---
import Layout from '../layouts/Layout.astro'
import { getCollection } from 'astro:content'
const blogEntries = await getCollection('posts', ({ data }) => {
  return data.published
})
// const blogEntries = await getCollection('posts')
---

<Layout metaDescription="About" metaTitle="About">
  <h1>About</h1>
  <ul>
    {
      blogEntries.map((blogPostEntry) => (
        <li>
          <a href={`/posts/${blogPostEntry.slug}`}>
            {blogPostEntry.id}
            {blogPostEntry.data.title}
            {blogPostEntry.slug}
          </a>
          <strong>{blogPostEntry.data.published?.toString()}</strong>
        </li>
      ))
    }
  </ul>
</Layout>
